<h1>My Posts</h1>

<%# filters the posts based on the current user and then writes them to the screen %>
<%# <% personalposts = current_user.posts %>
<%# <% personalposts.reverse %> 

<% current_user.posts.reverse.each do |post| %>

<div class="container">
  <div class="card">
      <!-- <div class="card-header">
        Featured
      </div> -->
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.content %></p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
    <div class="card-footer"><%= post.id %> <a href="#"><%= post.user.username %></a></div>
  </div>
</div>
  <br><br>
<% end %>