<%# this form allows users to create new posts %>
<div class="container">

<form action="/posts" method="post">
  <input type="text" name="title" id="">
  <textarea name="content" id="" cols="30" rows="10"></textarea>
  <input type="submit" value="Create post">
</form>

<br>
<br>
<br>

</div>