<h1>Posts</h1>

<%# loops through all posts and writes to the page %>
<% posts.each do |post| %>

<div class="container">
    <div class="card border-success">
        <!-- <div class="card-header">
          Featured
        </div> -->
        <div class="card-body text-success">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= post.content %></p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer"><%= post.id %> <a href="#"><%= post.user.username %></a></div>
      </div>
    </div>
    <br><br>
<% end %>