<h1>Sign In</h1>

<div class="container">

  <h2>Login Form</h2>

  <form action="/signin" method="post">
    <input type="text" name="username" placeholder="Enter username"><br>
    <input type="password" name="password" placeholder="Enter password"><br>
    <input type="submit" value="Login">
  </form>

  <br>
  <br>
  <br>

</div>