<%# loops through all users and writes to page %>

<br>
<% @users.each do |user| %>
  <div>
  First Name: <%= user.profile.first_name %> <br>
  Last Name: <%= user.profile.last_name %><br>
  Birthday: <%= user.profile.birthday.strftime("%m/%d/%Y") %> 
  </div>
  <br>

<% end %>